name: Cache Test

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Cache dependencies
        id: cache-step
        uses: actions/cache@v4
        with:
          path: ~/.cache
          key: cache-d3ecbe6

      - name: prime-cache-d3ecbe6
        run: echo "Cache hit? ${{ steps.cache-step.outputs.cache-hit }}"
